            <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

     <suite name="Automation Suite" thread-count="3" parallel="tests">
        <test name="TestSuit3" parallel="tests">
            <classes>
                <class name="ElitTest.EeTest" />
            </classes>
        </test>
        <test name="TestSuit4" parallel="tests">
            <classes>
                <class name="ElitTest.SecRunner" />
            </classes>
        </test>
</suite>